/* GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caslon Antique', serif !important;
}

html,body{
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f6f6f6;
  color:#3B2315
}

/* GENERALES  */

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  color: #3B2315;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

  .logoTerra{
   margin-left: -5rem; 
  }

.btnContactame {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color:#3B2315;
}

.btnNavBar {
  padding: 0.9rem 1.75rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: #3B2315;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* NAVBAR */

/* SECCION HOME */

.home-banner-container {
  position: relative;
  display: flex;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}


.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-weight: 500;
  font-size: 4rem;
  color:#3B2315;
  
}

.primary-text {
  font-size: 30px;
  max-width: 600px;
  color: #BB5D1D;
  margin: 1.5rem 0rem;
}



/* SECCION HOME */

/* SECCION ABOUT */

.about-container{
  padding-top: 6rem;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.about-bannerImage-container{
  position: absolute;
  top: -100px;
  left: -170px;
  z-index: -2;
  max-width: 700px;
}


.textosAbout{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.txtContamos{
  font-size: 3rem;
  text-align: center;
  color:#BB5D1D ;
}


.txtEspaciosComunes{
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  color: #FFCC70;
}


.divDescEspaciosComunes{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  font-size: 2.5rem;

  .salaEstar{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 100%;

    .salaEstarIcon{
      font-size: 3rem;
    }
  }

  .cocina{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;

    .cocinaIcon{
      font-size: 2rem;
    }
  }
}


.apiMaps {
  padding: 20px;
  width: 100%;
  height: 300px; /* Establece la altura deseada */
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc; /* Borde opcional */
  border-radius: 10px; /* Borde redondeado opcional */
  max-width: 100%;
}


/* SECCION ABOUT */

/* SECCION APARTS */

.apart-container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de flexión a columna */
  gap: 20px; /* Espacio entre los apartamentos */
  padding: 20px;
}

.apart-banner-container{
  position: relative;
  display: flex;
  padding-top: 15rem;
}

.apartment {
  display: flex;
  align-items: center;
  text-align: center;
  height: 36rem;
  color: white;
  border-radius: 2rem;
}

#apartment-1{
  margin-bottom: 10rem;

  .apart-description{
    border-right: 2px solid #FFCC70;
    padding-right: 3em;
  }
}

#apartment-2{
  margin-bottom: 10rem;

  .apart-description{
    border-right: 2px solid #3B2315;
    padding-right: 3em;
  }
}

#apartment-3{
  margin-bottom: 10rem;

  .apart-description{
    border-right: 2px solid #FFCC70;
    padding-right: 3em;
  }
}

#apartment-4{
  margin-bottom: 10rem;

  .apart-description{
    border-right: 2px solid #3B2315;
    padding-right: 3em;
  }
}

.normal {
  color:#FFCC70;
  border: 2px solid #FFCC70;
  background-color: f6f6f6;
  flex-direction: row; /* Texto a la izquierda, fotos a la derecha */

  .image-gallery{
    margin-right: 25px;
  }
}

.reverse {
  background-color: f6f6f6;
  border: 2px solid #3B2315;
  color: #BB5D1D;
  flex-direction: row-reverse; /* Texto a la derecha, fotos a la izquierda */

  .image-gallery{
    margin-left: 25px;
  }
}


.image-container,
.image-gallery {
  flex: 1;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  margin-right: 30px;
  font-size: 30px;
  height: inherit;
  justify-content: space-evenly;
}

.apart-title {
  margin-bottom: 10px;
}

.normal-order {
  flex-direction: row;
}

.reverse-order {
  flex-direction: row-reverse;
}

.apart-bannerImage-container{
  position: absolute;
  top: 200px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.descripcionIncluye{
  display: flex;
  justify-content: space-around;
}

.image-gallery {
  flex: 1;
  width: 100%;
}

/* SECCION APARTS */


.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}

.footer-logo-container {
  max-width: 200px;
}

.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

@media screen and (min-width: 801px) and (max-width:1044px){

  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  .primary-button {
    font-size: 1rem;
  }
  

  


  /* SECCION HOME */

  .home-bannerImage-container{
    max-width: 600px;
    top: -90px;
  }

  .home-banner-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-text-section{
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }


  /* SECCION HOME */


  /* SECCION ABOUT */

  .about-bannerImage-container{
    top:200px;
    max-width: 600px;
  }

  .about-container{
    flex-direction: column;
  }

  .divDescEspaciosComunes{
    margin-top: 3rem;

    .salaEstar{
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 10px;

      .salaEstarIcon{
        font-size: 40px;
      }
      }
    

    .cocina{
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      gap: 10px;

      .cocinaIcon{
        font-size: 40px;
      }

    }
    /* SECCION ABOUT */
    
  }

  .carrouselAbout{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
 }


}

/* @media (max-width: 1045px) {
 
} */
@media (max-width: 800px) {

  /* NAVBAR SECTION */
  .nav-logo-container {
    max-width: 70px;
  }


  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  /* NAVBAR SECTION */

  /* SECCIONHOME */

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    
  .home-text-section{
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }


  .primary-heading {
    color: #3B2315;
    text-align: center;
    max-width: 100%;
    font-size: 3rem;
  }

  .primary-text {
    text-align: center;
    max-width: 100%;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
  }


  /* SECCIONHOME */

  /* SECCCIONABOUT */

  .about-bannerImage-container{
    top:200px;
    max-width: 600px;
  }
  


  .divAbout {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

  }

  .about-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .txtEspaciosComunes {
    text-align: center;
  }


  .textosAbout{
    padding-left: 0px;

    
    .txtEspaciosComunes{
      font-size: 2.5rem;
    }
  }

  .divDescEspaciosComunes {
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
    justify-content: space-around;

    .salaEstarIcon{
      gap: 0px;
    }

  }

  .iframe{
    width: 550px;
    margin-bottom: 3rem;
  }
  /* SECCIONABOUT */

  .apartment{
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .text-container{
    font-size: 25px;
    margin-right: 0px;
    padding: 0px;
  }

  .descripcionIncluye{
    display: flex;
    flex-direction: column;

  }

  #apartment-1{
    .apart-description{
      border-right: 0px solid white;
      padding-right: 0em;
      padding-bottom: 1em;
      border-bottom: 2px solid #FFCC70;
    }

    .apart-incluye{
      padding-top: 1em;
    }
  }

  #apartment-2{
    .apart-description{
      border-right: 0px solid white;
      padding-right: 0em;
      padding-bottom: 1em;
      border-bottom: 2px solid #3B2315;
    }

    .apart-incluye{
      padding-top: 1em;
    }
  }

  #apartment-3{
    .apart-description{
      border-right: 0px solid white;
      padding-right: 0em;
      padding-bottom: 1em;
      border-bottom: 2px solid #FFCC70;
    }

    .apart-incluye{
      padding-top: 1em;
    }
  }

  #apartment-4{
    .apart-description{
      border-right: 0px solid white;
      padding-right: 0em;
      padding-bottom: 1em;
      border-bottom: 2px solid #3B2315;
    }

    .apart-incluye{
      padding-top: 1em;
    }
  }

  .image-gallery{
    width: 200px;
  }

 
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}